
body {
    margin: 0px;
    overflow:hidden;
}
.color1{
margin-bottom: 10px;

}
.tools {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
}
.parent{
border: 3px solid;
height: 3rem;
width: 30rem;
display: flex;
justify-content: space-evenly;
align-items: center;
}
.color{
height: 70%;
width: 15%;
background: red;
}
.black{
background-color: black;

}
.red{
background-color: red;
}
.blue{
background-color: blue;
}
.green{
background-color: green;
}
.yellow{
background-color: yellow;
}
.board{
    margin: 70px;
    margin-left: 300px;
    width: 1000px;
    border: 5px solid black;
    background-color: aliceblue;
}
